<!DOCTYPE html>
<html>
<head>
    <title>Space Server</title>
    <link rel="stylesheet" href="../static/css/spaceserver.css">
    <script src="../static/javascript/jquery-1.11.1.min.js"></script>
    <script src="../static/javascript/socketio.min.js"></script>
    <script src="../static/javascript/jquery-2.1.3.min.js"></script>
    <script type="text/javascript">
    var fakeBrokenSystem = "";
    var brokenSystem = "";
    var select = "";
    var option = "";
    var engineerLoggedIn = "no";
    var engineerFakeName = "Not Logged In";
    var engineerName = "Not Logged In";
    var socket = io.connect('http://' +window.location.hostname+ ':' +window.location.port+ '/main');
        function signOut() {
        location.href = ('index.html')
        }
        function showSomething(id) {
        document.getElementById(id).style.display = 'block';
        }
        function hideSomething(id) {
        document.getElementById(id).style.display = 'none';
        }
        socket.on('message', function(data) {
        console.log(data);
        if(data.startsWith("engineertaken: ")) {
        engineerLoggedIn = "yes";
        engineerFakeName = data;
        engineerName = engineerFakeName.replace("engineertaken: ", "");
        console.log(engineerName)
        }
        });
        function start() {
        hideSomething('noconnection')
        }
    function goToDamageControl() {
        hideSomething('damageteamtabs')
        hideSomething('damageteamtabcontent')
        showSomething('damagecontroltabs')
        showSomething('damagecontroltabcontent')
    }
    function goToDamageTeams() {
        hideSomething('damagecontroltabs')
        hideSomething('damagecontroltabcontent')
        showSomething('damageteamtabs')
        showSomething('damageteamtabcontent')
    }
    </script>
</head>


<body onload="start()">
<div id="noconnection" class="alert alert-dismissable alert-warning">
        <button type="button" class="close" onclick="hideSomething('noconnection')">x</button>
        <h4>No Connection To Server!</h4>
        <p>Sadly there is no connection to the server. Ask for assistance from your flight director or try again later.</p>
    </div>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="engineer.html">Engineer</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="engineer.html">Damage Control</a></li>
      <li><a href="engineer-distribution.html">Distribtion</a></li>
      <li><a href="engineer-reactor-monitoring.html">Reactor Monitoring</a></li>
    </ul>
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Search" type="text">
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" onclick="signOut()">Sign Out</a></li>
    </ul>
  </div>
</div>
<ul id="damagecontroltabs" class="nav nav-tabs">
    <li class="active"><a onclick="goToDamageControl()" data-toggle="tab">Damage Conrol</a></li>
    <li><a onclick="goToDamageTeams()" data-toggle="tab">Damage Teams</a></li>
</ul>
<div id="damagecontroltabcontent" class="tab-content">
    <div class="tab-pane fade active in">
        <p><div style="width:864px;" class="form-group">
            <label for="select" class="col-lg-2 control-label">Broken Systems</label>
            <div class="col-lg-10">
                <br>
                <select id="brokensystems" multiple="" class="form-control">
                </select>
            </div>
        </div></p>
    </div>
</div>
<ul id="damageteamtabs" class="nav nav-tabs">
    <li><a onclick="goToDamageControl()" data-toggle="tab">Damage Conrol</a></li>
    <li class="active"><a onclick="goToDamageTeams()" data-toggle="tab">Damage Teams</a></li>
</ul>
<div id="damageteamtabcontent" class="tab-content">
    <div class="tab-pane fade active in">
        <p></p>
    </div>
</div>
</body>
</html>
